.envelope {
  border: 1px solid #ccc;
  border-radius: 25px;
  width: 560px;
  min-height: auto;
  padding: 10px;
  display: flex;
  font-family: "Helvetica", arial, sans-serif;
  line-height: 18px;
}

.stamp-img {
  width: 48px;
  height: 52px;
  border-radius: 5px;
}

.name {
  font-weight: bold;
}

.address {
  font-style: italic;
}

.from-person {
  font-size: 14px;
  padding-left: 10px;
}

.to-person {
  padding-left: 110px;
  font-size: 14px;
  padding-top: 100px;
}

.stamp {
  padding-left: 110px;
}
